.damage-counter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 3;
  display: inline-block;
  left: 1.5em;
  top: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1em;
  position: relative;
  border-radius: 50%;
  background-color: rgb(255, 98, 0);
  color: white;
  text-align: center;
}
